

/* 展示数据 */
.ind-box1{background: #fdba13;align-items: flex-start;margin-top: -60px;position: relative;z-index: 2;color: #fff;box-shadow: 0 5px 10px rgba(0,0,0,0.2);}
.ind-box1 .item{width: 25%;border-right: 1px dashed #e8e8e8;padding: 25px 4%;box-sizing: border-box;}
.ind-box1 .item:last-child{border-right: 0;}
.ind-box1 .icon{width: 40px;height: 40px;display: block;margin: 0px auto;}
.ind-box1 .tit{font-size: 18px;line-height: 30px;font-weight: normal;margin: 10px 0;}

/* 企业动态 */
.ind-dynamic .item{margin-bottom: 60px;align-items: flex-start;position: relative;}
.ind-dynamic .item:last-child{margin-bottom: 0;}
.ind-dynamic .item .texbox{width: 35%;}
.ind-dynamic .item .texbox .tit{margin-bottom: 30px;font-size: 18px;}
.ind-dynamic .item .texbox .text2{color: #666;}
.ind-dynamic .item .imgBox{width: 50%;/* position: absolute;right: 0;top: 0; */}
.ind-dynamic .item .imgBox img{width: 100%;height: auto;}
.ind-dynamic .item .btn{width: 100px;height: 40px;line-height: 40px;text-align: center;background: #fdba13;border-radius: 5px;margin-top: 30px;}

/* 我们的优势 */
.ind-advantage{background: url(../images/home-img1.jpg) no-repeat 0 0/100% 100%;}
.ind-advantage .w1100{align-items: flex-start;}
.ind-advantage .item{width: 200px;box-sizing: border-box;}
.ind-advantage .item .icon{width: 60px;height: 60px;display: block;margin: 0px auto;}
.ind-advantage .item .tit{font-size: 22px;line-height: 30px;font-weight: normal;margin: 20px 0;}
.ind-advantage .item .tex2{ line-height: 30px;font-size: 16px;}

/* 人才招聘 */
.ind-zhaoPin{ height:400px;background: url(../images/home-img3.png) no-repeat 0 0/100% 100%;padding: 120px 4%;box-sizing: border-box;align-items: flex-start;}
.ind-zhaoPin .item{width: 50%;box-sizing: border-box;padding:0 100px;}
.ind-zhaoPin .item .tit{font-size: 26px; margin-bottom:40px;line-height: 30px;}
.ind-zhaoPin .item .tex{font-size: 16px;line-height: 24px;margin-bottom: 20px;}
.ind-zhaoPin .item.left{text-align: right;}
.ind-zhaoPin .fxMiddle{width: 120px;height: 120px;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);}
.ind-zhaoPin .fxMiddle img{width: 100%;height: 100%;display: block;}

/* 新闻动态 */
.ind-newBox ul{align-items: flex-start;}
.ind-newBox .item{width: 350px; background: #FFF;box-shadow: 0 0 5px rgba(0,0,0,0.15);border-radius: 5px;overflow: hidden;margin-right: 2.2%;float: left;}

.ind-newBox .item:nth-child(3n){margin-right: 0;}
.ind-newBox .item .pic{width: 100%; height: 258px;overflow: hidden;}
.ind-newBox .item .pic img{width: 100%;height: 100%;  transition: all 1s;}
.ind-newBox .item:hover .pic img{transform: scale(1.1);}
.ind-newBox .item .infor{padding:15px 4%;}
.ind-newBox .item .tit{box-sizing: border-box; font-size: 16px;}
.ind-newBox .item .infor .tex2{padding-top: 10px;}



/*以下自适应样式*/

@media only screen and (max-width: 1100px){
	.ind-box1{width: 96%;padding: 0;}
	.ind-box1 .item{padding: 20px;}
	.ind-box1 .icon{width: 32px;height: 32px;}
	.ind-box1 .tit{font-size: 16px;line-height: 24px; margin: 10px 0 5px 0;}
	
	.ind-dynamic .item .imgBox{width: 55%;}
	.ind-dynamic .item .texbox{width: 40%;}
	
	.ind-dynamic .item .btn{width: 80px;line-height: 30px;height: 30px;}
	.ind-dynamic .item .texbox .tit{margin-bottom: 15px;font-size: 16px;}
	.ind-dynamic .item .texbox .text2{    -webkit-line-clamp: 2;}
	.ind-dynamic .item:nth-of-type(2n) .Bbtn{justify-content: flex-end;}
	.ind-advantage .item .icon{width: 40px;height: 40px;}
	.ind-advantage .item .tit{font-size: 18px; margin: 15px 0 10px 0;}
	.ind-advantage .item .tex2{font-size: 14px;line-height: 24px;}
	
	.ind-zhaoPin{padding: 75px 2%;height: 300px;}
	.ind-zhaoPin .fxMiddle{width: 85px;height: 85px;}
	.ind-zhaoPin .item{padding: 0 2% 0 60px;}
	.ind-zhaoPin .item.left{padding: 0 60px 0 2%;}
	.ind-zhaoPin .item .tit{font-size: 20px;margin-bottom: 20px;}
	
	.ind-newBox .item{width: 235px;}
	.ind-newBox .item .pic{height: 173px;}
	.ind-newBox .item .tit{font-size: 14px;}
	.ind-newBox .item .infor .tex2{font-size: 12px;padding-top: 5px;}
}


@media only screen and (max-width: 500px){
	.ind-box1{margin-top: -30px;}
	.ind-box1 .item{padding:15px 10px;}
	.ind-box1 .icon{width: 25px;height: 25px;}
	.ind-box1 .tit{font-size: 14px;line-height: 20px;}
	.ind-box1 .num{font-size: 13px;}
	
	.seeMoreBtn{width: 100px;line-height: 36px;height: 36px;font-size: 14px;margin-top: 30px;}
	.seeMoreBtn .arrow{width: 10px;height: 10px;}
	
	.ind-dynamic .item .imgBox{width: 50%;}
	.ind-dynamic .item .texbox{width: 48%;}
	.ind-dynamic .item .imgBox img{height: 98px;}
	.ind-dynamic .item .texbox .tit{margin-bottom: 5px;font-size: 14px;}
	.ind-dynamic .item .texbox .text2{ -webkit-line-clamp: 2;font-size: 10px;line-height: 18px;}
	.ind-dynamic .item .btn{width: 70px;font-size: 12px;line-height: 24px;height: 24px;margin-top:10px;}
	
	.ind-advantage .item .tit {font-size: 14px;margin:5px 0;}
	.ind-advantage .item .tex2{font-size: 12px;line-height: 20px;padding: 0 10px;}
	
	.ind-zhaoPin{height: 240px;padding: 60px 2% 30px 2%;}
	.ind-zhaoPin .fxMiddle{width: 70px;height: 70px;}
	.ind-zhaoPin .item{padding: 0 0 0 45px;}
	.ind-zhaoPin .item.left{padding: 0 45px 0 0;}
	.ind-zhaoPin .item .tit{font-size: 16px;margin-bottom:20px;}
	.ind-zhaoPin .item .tex{font-size: 12px;line-height: 18px;margin-bottom: 15px;}
	.ind-zhaoPin .item .tex:last-child{margin-bottom: 0;}
	
	.ind-newBox .item{width:48.5%;margin-right: 0;}
	.ind-newBox .item:nth-child(2n){float: right;}
	.ind-newBox .item .pic{height: 84px;}
	.ind-newBox .item .tit{font-size: 14px;}
	.ind-newBox .item .infor{padding: 10px 10px;}
	.ind-newBox .item .infor .tex2{font-size: 12px;line-height: 18px;padding-top: 3px;}
	
}

