<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="renderer" content="webkit">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>瑞安消防</title>
		<script type="text/javascript" src="./js/vue.js"></script>
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/base.js"></script>
		<script type="text/javascript" src="js/include.js"></script>
		<script type="text/javascript" src="js/swiper.min.js"></script>
		<link type="text/css" rel="stylesheet" href="css/public.css">
		<link type="text/css" rel="stylesheet" href="css/index.css">
		<link type="text/css" rel="stylesheet" href="css/performance.css">
		<link type="text/css" rel="stylesheet" href="css/swiper.min.css">
		<link type="text/css" rel="stylesheet" href="css/zizhi.css">
	</head>

<body>
	<div id="app">
		<include src="header.html"></include>
		<include src="banner.html"></include>
		
		<!-- 类别数据 -->
		<div class="ind-box1 w1200 radius10 pubBj center flexRowBetween">
			<div class="item" v-for="(item,index) in dataShow" :key="index">
				<img class="icon" :src="item.mainImg&&item.mainImg[0]?item.mainImg[0].url:''" alt="">
				<p class="tit">{{item.title}}</p>
				<p class="num fs16">{{item.description}}</p>
			</div>
		</div>
		
		<!-- 企业动态 -->
		<div class="ind-dynamic pdb80">
			<div class="pubtit flexColumn">
				<h1 class="title">Enterprise dynamics</h1>
				<p class="text">企业动态</p>
			</div>
			<div class="w1100 pdlr4">
				<div class="item flexRowBetween">
					<div class="texbox">
						<div class="tit avoidOverflow">{{newsData&&newsData[0]?newsData[0].title:''}}</div>
						<p class="text2 avoidOverflow3">{{newsData&&newsData[0]?newsData[0].description:''}}</p>
						<div class="flex">
							<a class="btn" :href="newsData&&newsData[0]?'detail.html?id='+newsData[0].id:''">查看详情</a>
						</div>
					</div>
					<div class="imgBox">
						<img :src="newsData&&newsData[0]&&newsData[0].mainImg&&newsData[0].mainImg[0]?newsData[0].mainImg[0].url:''" >
					</div>
				</div>
				<div class="item flexRowBetween">
					<div class="imgBox">
						<img :src="newsData&&newsData[1]&&newsData[1].mainImg&&newsData[1].mainImg[0]?newsData[1].mainImg[0].url:''" >
					</div>
					<div class="texbox">
						<div class="tit avoidOverflow">{{newsData&&newsData[1]?newsData[1].title:''}}</div>
						<p class="text2 avoidOverflow3">{{newsData&&newsData[1]?newsData[1].description:''}}</p>
						<div class="Bbtn flex">
							<a class="btn" :href="newsData&&newsData[1]?'detail.html?id='+newsData[1].id:''">查看详情</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- 我们优势 -->
		<div class="ind-advantage white">
			<div class="pubtit flexColumn">
				<h1 class="title">recruitment</h1>
				<p class="text">我们的优势</p>
			</div>
			<div class="w1100 flexRowAround center pdb80">
				<div class="item" v-for="(item,index) in advantageData" :key="index">
					<img class="icon" :src="item.mainImg&&item.mainImg[0]?item.mainImg[0].url:''" alt="">
					<h1 class="tit">{{item.title}}</h1>
					<p class="tex2 fs14">{{item.description}}</p>
				</div>
			</div>
		</div>
		
		<!-- 项目业绩 -->
		<div class="ind-performance f5bj">
			<div class="pubtit flexColumn">
				<h1 class="title">Project performance</h1>
				<p class="text">项目业绩</p>
			</div>
			<div class="inforCont w1100 flexCenter pdb80">
				<div class="item" v-for="(item,index) in performanceData" :key="index">
					<div class="flexEnd img"><img :src="item.mainImg&&item.mainImg[0]?item.mainImg[0].url:''" alt=""></div>
					<div class="FXCont">
						<a :href="'detail.html?id='+item.id">
							<div class="inff">
								<div class="T-title pd20">
									<h1 class="tit avoidOverflow2">{{item.title}}</h1>
									<p class="tex color6 avoidOverflow2">{{item.description}}</p>
								</div>
								<div class="downCt flexRowBetween pdlr4">
									<p class="color6 fs12">查看详情</p>
									<img class="arrow" src="images/home-icon10.png" >
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
		
		<!-- 资质证书 -->
		<div class="ind-zizhiBox white pdb80">
			<div class="pubtit flexColumn">
				<h1 class="title">Qualification certificate</h1>
				<p class="text">资质证书</p>
			</div>
			<div class="w1100 zizhiSwipe pr ">
				<div class="swiper-container">
				    <div class="swiper-wrapper">
				        <div class="swiper-slide" v-for="(item,index) in certificateData" :key="index">
				        	<img :src="item.url">
				        </div>
				    </div>
				</div>
				<!-- 左右按钮 -->
				<div class="swiperBtn swiper-button-next">
					<img src="images/home-icon13.png" />
				</div>
				<div class="swiperBtn swiper-button-prev">
					<img src="images/home-icon12.png" />
				</div>
			</div>
		</div>
		
		<!-- 人才招聘 -->
		<div class="f5bj">
			<div class="pubtit flexColumn">
				<h1 class="title">recruitment</h1>
				<p class="text">人才招聘</p>
			</div>
			<div class="w1100 ind-zhaoPin flexRowBetween pr">
				<div class="item left ">
					<a :href="recruitData&&recruitData[0]?'recruitDetail.html?id='+recruitData[0].id:''">
						<div class="infor">
							<h1 class="tit fs15">{{recruitData&&recruitData[0]?recruitData[0].title:''}}</h1>
							<p class="tex">{{recruitData&&recruitData[0]?recruitData[0].passage1:''}} {{recruitData&&recruitData[0]?recruitData[0].passage2:''}} {{recruitData&&recruitData[0]?recruitData[0].region:''}} </p>
							<p class="tex">{{recruitData&&recruitData[0]?recruitData[0].address :''}}</p>
						</div>
					</a>
				</div>
				<div class="item">
					<a :href="recruitData&&recruitData[1]?'recruitDetail.html?id='+recruitData[1].id:''">
						<div class="infor">
							<h1 class="tit fs15">{{recruitData&&recruitData[1]?recruitData[1].title:''}}</h1>
							<p class="tex">{{recruitData&&recruitData[1]?recruitData[1].passage1:''}} {{recruitData&&recruitData[1]?recruitData[1].passage2:''}} {{recruitData&&recruitData[0]?recruitData[0].region:''}} </p>
							<p class="tex">{{recruitData&&recruitData[1]?recruitData[1].address :''}}</p>
						</div>
					</a>
				</div>
				<div class="fxMiddle"><img src="images/home-icon9.png" ></div>
			</div>
			<div class="flexCenter">
				<a class="seeMoreBtn flexCenter" href="recruit.html">查看更多<img class="arrow" src="images/home-icon10.png" ></a>
			</div>
			<div class="pdb80"></div>
		</div>
			
		<!-- 新闻动态 -->
		<div class="pubtit flexColumn">
			<h1 class="title">news</h1>
			<p class="text">新闻动态</p>
		</div>
		<div class="ind-newBox w1100 pdb80">
			<ul class="flex">
				<li class="item" v-for="(item,index) in newsData" :key="index" v-if="index<3">
					<a :href="'detail.html?id='+item.id">
						<div class="pic oh"><img :src="item.mainImg&&item.mainImg[0]?item.mainImg[0].url:''" /></div>
						<div class="infor">
							<p class="tit avoidOverflow">{{item.title}}</p>
							<p class="tex2 avoidOverflow2 color6 fs14">{{item.description}}</p>
						</div>
					</a>
				</li>
			</ul>
			<div class="flexCenter">
				<a class="seeMoreBtn flexCenter" href="newsList.html">查看更多<img class="arrow" src="images/home-icon10.png" ></a>
			</div>
		</div>
			
		<include src="footer.html"></include>
		
	</div>
</body>

	<script type="text/javascript">
		// 资质证书轮播
		$(function(){
		   var swiper = new Swiper('.swiper-container', {
		       pagination: '.swiper-pagination',
		       nextButton: '.swiper-button-next',
		       prevButton: '.swiper-button-prev',
		       slidesPerView: 3,
		       centeredSlides: true,
		       paginationClickable: true,
		       spaceBetween: 30,
			   initialSlide: 1  //第一张图显示位置
		   });
		}); 
	</script>
	<script type="text/javascript">
		var app = new Vue({
		    el: '#app',
		    data:function(){
		        return {
		        	banner_index:0,
					is_show:false,
					wx_show:2,
					mainData: [],
					labelData: [],
					dataShow:[
						
					],
					advantageData:[
						
					],
					certificateData:[],
					performanceData:[],
					newsData:[],
					paginate: {
					    count: 0, 
					    currentPage: 1, 
					    pagesize:10, 
					    is_page: true, 
					},
					recruitData:[]
		        }
		    },
			
			created:function () {
			    var self = this;
				self.getShowData();
				self.getNewsData()
				self.getAdvantageData()
				self.getCertificateData()
				self.getLabelData()
				self.getRecruitData()
			},
			
		    methods: {
				
				getLabelData(){
				    var self = this;
				    var postData = {};
				    postData.searchItem = {
						thirdapp_id:2,
					};
					postData.getBefore = {
						child:{
							tableName:'Label',
							middleKey:'parentid',
							key:'id',
							searchItem:{
								status:['in',[1]],
								title:['in',['项目分类']]
							},
							condition:'in',
						}
					};
				    var callback = function(res){
				        if(res.info.data.length>0&&res.info.data[0]){
							self.labelData.push.apply(self.labelData,res.info.data)
							var idArray = [];
							for (var i = 0; i < self.labelData.length; i++) {
								idArray.push(self.labelData[i].id)
							}
							self.getPerformanceData(idArray)
				        };    
				    };
				    window.base.labelGet(postData, callback);
				},
				
				getPerformanceData(idArray){
				    var self = this;
				    var postData = {};
					postData.paginate = {
					    count: 0, 
					    currentPage: 1, 
					    pagesize:4, 
					    is_page: true, 
					};
				    postData.searchItem = {
						thirdapp_id:2,
						menu_id:['in',idArray]
					};
				    var callback = function(res){
				        if(res.info.data.length>0&&res.info.data[0]){
							self.performanceData.push.apply(self.performanceData,res.info.data)
				        };    
				    };
				    window.base.articleGet(postData, callback);
				},
				
				getRecruitData() {
					const self = this;
					const postData = {};
					postData.paginate = window.base.cloneForm(self.paginate);
					postData.searchItem = {
						thirdapp_id:2
					};
					postData.getBefore = {
						child:{
							tableName:'Label',
							middleKey:'menu_id',
							key:'id',
							searchItem:{
								status:['in',[1]],
								title:['in',['人才招聘']]
							},
							condition:'in',
						}
					};
					const callback = (res) => {
						if (res.info.data.length > 0) {
							self.recruitData.push.apply(self.recruitData,res.info.data);
						} 
					};
					window.base.articleGet(postData, callback);
				},
				
				getShowData(){
				    var self = this;
				    var postData = {};
				    postData.searchItem = {
						thirdapp_id:2,
					};
					postData.getBefore = {
						child:{
							tableName:'Label',
							middleKey:'parentid',
							key:'id',
							searchItem:{
								status:['in',[1]],
								title:['in',['悬浮模块']]
							},
							condition:'in',
						}
					};
					postData.order = {
						create_time:'asc'
					}
				    var callback = function(res){
				        if(res.info.data.length>0&&res.info.data[0]){
							self.dataShow.push.apply(self.dataShow,res.info.data)
				        };    
				    };
				    window.base.labelGet(postData, callback);
				},
				
				getCertificateData(){
				    var self = this;
				    var postData = {};
				    postData.searchItem = {
						thirdapp_id:2,
						title:'资质证书'
					};
					postData.order = {
						create_time:'asc'
					}
				    var callback = function(res){
				        if(res.info.data.length>0&&res.info.data[0]){
							self.certificateData = res.info.data[0].mainImg
				        };    
				    };
				    window.base.labelGet(postData, callback);
				},
				
				getNewsData(){
				    var self = this;
				    var postData = {};
					postData.paginate = window.base.cloneForm(self.paginate);
				    postData.searchItem = {
						thirdapp_id:2,
					};
					postData.getBefore = {
						child:{
							tableName:'Label',
							middleKey:'menu_id',
							key:'id',
							searchItem:{
								status:['in',[1]],
								title:['in',['新闻动态']]
							},
							condition:'in',
						}
					};
					
				    var callback = function(res){
				        if(res.info.data.length>0&&res.info.data[0]){
							self.newsData.push.apply(self.newsData,res.info.data)
				        };    
				    };
				    window.base.articleGet(postData, callback);
				},
				
				getAdvantageData(){
				    var self = this;
				    var postData = {};
				    postData.searchItem = {
						thirdapp_id:2,
					};
					postData.getBefore = {
						child:{
							tableName:'Label',
							middleKey:'parentid',
							key:'id',
							searchItem:{
								status:['in',[1]],
								title:['in',['我们的优势']]
							},
							condition:'in',
						}
					};
					postData.order = {
						create_time:'asc'
					}
				    var callback = function(res){
				        if(res.info.data.length>0&&res.info.data[0]){
							self.advantageData.push.apply(self.advantageData,res.info.data)
				        };    
				    };
				    window.base.labelGet(postData, callback);
				},
				
		    }
		});
	</script>
	<style>
	.banBtnNav{bottom: 100px;}
	
	@media only screen and (max-width: 800px){
		.banBtnNav{bottom: 24%;}
	}
	
	</style>
</html>